.section-customers {
  &__set {
    @include flex-container(flex, space-between, center);
    flex-wrap: wrap;
    text-align: center;
  }
  &__list-logotype {
    @include size(170px, 81px);
    list-style: none;
    border: 1px solid #afb1b8;
    border-radius: 4px;
  }
  &__logo {
    margin-top: 15px;
  }
  &__list-logotype:hover{
    border: 1px solid $accent-color;
  }
  &__logotype :hover &__logo {
    fill: $accent-color;
  }

  // &__list-logotype:hover &__path {
  //   fill: $accent-color;
  // }
  &__subtitle {
    margin-bottom: 20px;
  }
}
